spring:
  application:
    name: portal

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: 3600000      # 1시간
  refresh-token-expiration: 604800000   # 7일

server:
  port: 8080